<h2>Date de contact</h2>
<p class="n">
    Colegiul Naţional"Nicu Gane" Fălticeni<br>
    Str. Sucevei, Nr. 105, Fălticeni, jud. Suceava, cod 725200<br>
    Telefon: 40-0230-541227, 40-0230-541429<br>
    <!-- e-mail: nicu_gane@yahoo.com<br> -->
    Adresă e-mail: secretariat@nicugane.ro<br>
</p>
<h2>Formular de contact</h2><br>
<form action="" method="POST" id="form_contact" class="row">
    <div class="input-field col m6 s12">
        <input placeholder="" id="inp_email" type="email" name="email" required>
        <label for="inp_email">Adresa de Email</label>
    </div>
    <div class="input-field col m6 s12">
        <input placeholder="" id="inp_subject" type="text" name="subject" required>
        <label for="inp_subject">Subiectul</label>
    </div>
    <div class="input-field col s12">
        <textarea id="inp_message" class="materialize-textarea" name="message" required></textarea>
        <label for="inp_message">Scrieți Mesajul</label>
    </div>
    <div class="col s12">
        <input type="submit" value="Trimite" class="btn2 right">
    </div>
</form>
