<h2>Corpurile Liceului</h2>
<div>
    <div class="bbgallery">
        <a href="{{asset('img/gallery/full/1.jpg')}}" title="Midnight City">
            <img src="{{asset('img/gallery/thumbs/1.jpg')}}" alt="Midnight City">
        </a>
        <a href="{{asset('img/gallery/full/2.jpg')}}" title="Midnight City">
            <img src="{{asset('img/gallery/thumbs/2.jpg')}}" alt="Midnight City">
        </a>
    </div>
</div>
