<div class="sidebar">
    <div class="sideitem">
        <h3>Contul meu</h3><div class="sidel"></div>
        <div class="sidein">
            <p class="placeholder">Nu sunteți autentificat...<br><a href="{{l('/contul-meu')}}">Contul meu</a></p>
        </div>
    </div>
    <div class="sideitem">
        <h3>Anunțuri recente</h3><div class="sidel"></div>
        <div class="sidein sidelinkl">
            <a href="">Update la site-ul liceului</a>
            <a href="">Desfășurare Evaluare Națională 2016</a>
            <a href="">Desfășurare Examen Bacalaureat 2016</a>
            <a href="">Structura anului școlar 2015-2016</a>
            <a href="">Euroscola 2015</a>
        </div>
    </div>
</div>
