<h2>Cine suntem?</h2>
<p>Colegiul Naţional "Nicu Gane" nu e doar o instituţie de învăţământ cu rolul de a educa tinerii, ci e şi un centru cultural. El are menirea de a desfăşura un proces educativ complex reprezentat deopotrivă de procesul educaţional propriu-zis, dar şi de iniţierea şi organizarea unor evenimente socio-culturale cu deschidere mai largă. Şcolar şi extraşcolar devin astfel parţi componente ale unui program unic pe care instituţia îl desfăşoară şi susţine prin toate mijloacele şi resursele sale. Colegiul devine astfel şi o modalitate de a încuraja procesul educaţiei permanente, ca şi un factor prin care se menţină legatura cu instituţii şi centre de cultură de nivel superior. El se opune astfel fenomenului de izolare pe care l-ar putea presupune statutul comunitaţii căreia îi aparţine. De asemenea, reprezintă o modalitate de propagare a ideilor şi de susţinere a tinerilor de valoare.</p>
<h2>Specializările noastre</h2>
<p>Colegiul Naţional "Nicu Gane" este un liceu teoretic, de cultură generală, cu două nivele: gimnazial şi liceal. La nivel liceal are două profiluri: real si uman. Specializările corespunzatoare acestor profiluri sunt:</p>
<a href="/oferta-educationala" class="btn2 smallbtn right">Oferta Educațională</a>
<div>
    Pentru profilul real:<br>
    <ul>
        <li>matematică-informatică;</li>
        <li>ştiinţe ale naturii;</li>
    </ul>
</div>
<div>
    Pentru profilul uman:<br>
    <ul>
        <li>filologie;</li>
        <li>ştiinţe socio-umane;</li>
    </ul>
</div>
<p>Pe lângă colegiu funcţionează un club sportiv scolar (CSS) cu 5 secţii: atletism, volei, box, canotaj, fotbal (pagină realizată şi întreţinută de prof. antrenor, Ciocan Ionel).</p>
<h2>Misiunea noastră</h2>
<p>Colegiul Naţional "Nicu Gane" îşi propune să fie o şcoală de progres pentru toţi elevii care îi trec pragul, motiv pentru care urmăreşte:</p>
<div>
    - Să valorifice resursele umane, materialele şi experienţa acumulată ca liceu teoretic;<br>
    - Să ofere şanse egale tuturor elevilor printr-o bună pregătire şi consiliere a acestora;<br>
    - Să-şi găsească parteneri viabili în actul educaţional;<br>
    - Să formeze oameni care vor fi capabili să se integreze social şi să se adapteze cu uşurinţă schimbărilor impuse de societatea în care trăim;<br>
    - Să ofere un învăţământ de calitate care să-i ajute pe absolvenţi să se îndrepte fie către instituţiile de învăţământ superior fie să-şi găsească un loc de muncă.<br>
</div>
<h2>Alte linkuri</h2>
<div>
    <ul>
        <li><a href="https://nicugane.files.wordpress.com/2015/10/organigrama_2015_2016.pdf" target="_blank">Organigrama 2015-2016 PDF</a></li>
        <li><a href="#" target="_blank">Performanțe</a></li>
        <li><a href="https://nicugane.wordpress.com/" target="_blank">Activitate Profesori</a></li>
        <li><a href="#" target="_blank">Clase</a></li>
        <li><a href="http://www.nicugane.ro/elenacristina.pdf" target="_blank">Echipa Managerială</a></li>


    </ul>
</div>
