<h2>Scurt Istoric</h2>
<p class="n">
    <strong>3 septembrie 1870</strong> - comitetul permanent pentru înfiinţarea gimnaziului cere Ministerului Instrucţiunii Publice autorizaţia de funcţionare a gimnaziului, autorizaţie ce se eliberează în octombrie 1870. <br>
    <strong>2 noiembrie 1870</strong> - ÎŞI DESCHIDE CURSURILE GIMNAZIUL "ALEXANDRU IOAN I" CU O CLASĂ DE 20 DE ELEVI. <br>
</p>
<p class="n">
    <strong>I. 1870-1892 - Gimnaziul "Alexandru Ioan I"</strong>  <br>
    Profesori: Vasile Balomir, Nicolae Beldiceanu, V. T. Lovinescu, A. R. Wagner; <br>
    Elevi: Arthur Gorovei, Ştefan Şoldănescu.<br>
</p>
<p class="n">
    <strong>II. 1892-1923 - Gimnaziul "Alecu Donici"</strong> <br>
    <strong>Iarna 1892</strong> - mutarea în noul local de şcoală; <br>
    <strong>1893</strong> - se înfiinţează biblioteca; <br>
    În condiţiile ministeriatului Spiru Haret şi ale Legii Învăţământului din 1898, se înfiinţează în toamna lui 1920 primele clase de liceu.<br>
    Profesori: Nicolae Apostol, George Stino, Anastase Spiridonescu, Mihai Stamatin ş.a. <br>
    Elevi: Mihail Sadoveanu, Eugen Lovinescu, Aurel Băeşu, Constantin Ureche, Aurel George Stino, Anton Holban, Vasile Ciurea, Despina Sadoveanu ş.a. <br>
    SEMICENTENAR 1921 <br>
</p>
<p class="n">
    <strong>III. 1923-1948 - Liceul "Nicu Gane"</strong> <br>
    <strong>1 aprilie 1923</strong> - aprobarea Ministerului Instrucţiunii publice pentru ridicarea gimnaziului la rangul de liceu; <br>
    <strong>1928 - 1934</strong> - noi legi ale învaţământului în România; <br>
    Profesori: George Stino, Dan Protopopescu, Virgil Tempeanu, Grigore Ilie, Nicolae Tolea, Sorin Gorovei, Gheorghe Ursu, Vasile Ciurea ş.a.<br>
    Elevi: Ion Irimescu, Jules Cazaban, Grigore Vasiliu-Birlic, Petre Jitaru, Mihai Şerban, Nicolae Grigoraş, Horia Lovinescu, Gheorghe Diaconescu, Aurel Loghin, Constantin Ciopraga, Mihai Gafiţa, Mihai Băcescu ş.a. <br>
    <strong>1928-1929</strong> - prima serie de liceu cu durată de 7 ani; <br>
    <strong>1934-1935</strong> - se trece la liceu cu durata de 8 ani.<br>
</p>
<p class="n">
    <strong>IV. 1948 - 1989 - liceul în anii postbelici</strong> <br>
    <strong>1948</strong> - o nouă lege a învăţământului, liceul ia denumirea de Şcoala Medie Mixtă Nr. 1 Fălticeni, de 11 ani; <br>
    <strong>1964</strong> - se înfiinţează laboratorul de fizică de către profesorul Constantin Popa; <br>
    <strong>1969</strong> - funcţionează cu numele de "Liceul Nr. 1 Fălticeni"; <br>
    <strong>1970</strong> - SĂRBĂTOAREA CENTENARULUI LICEULUI ŞI REDOBÂNDIREA NUMELUI;<br>
    <strong>1970</strong> - apariţia monografiei liceului scrisă de prof. Mihai Iacobescu şi prof. Gheorghe Gafencu; <br>
    <strong>1977</strong> - transformarea în liceu mecanic şi cu clase de matematică-fizică.<br>
    Elevi: Dan Nemţeanu, Nicolae Labiş, Ştefan S. Gorovei, Grigore Ilisei, Elena Ştefoi ş.a.<br>
    Societatea de Ştiinţe Filologice şi-a adus participanţii din ţară la sesiunile <em>Mihail Sadoveanu </em> (1980), <em>Eugen Lovinescu </em> (1981), <em>Nicolae Labiş</em> (1986) şi <em>Nicu Gane </em> (1988); <br>
    <strong>1988</strong> - se iniţiază Zilele Liceului la care participă, de-a lungul anilor, absolvenţi iluştri.
</p>
<p class="n">
    <strong>V. La hotarul dintre milenii</strong> <br>
    <strong>1990</strong> - Liceul "Nicu Gane" redevine liceu teoretic având clase de matematică-fizică, chimie-biologie, informatică, filologie, limbi străine, istorie-ştiinţe sociale şi educaţie fizică; <br>
    <strong>1991</strong> - se înfiinţează laboratorul de informatică; <br>
    <strong>1993 (14-15 iulie)</strong> - comemorarea lui Eugen Lovinescu la 50 de ani de la moarte, cu participarea acad. Constantin Ciopraga, acad. Eugen Simion, a mai multor universitari şi a lui Mircea Tomuş (Secretar de Stat în Ministerul Culturii); <br>
    <strong>1994</strong> - apare seria nouă a "Revistei Noastre"; <br>
    - realizarea cabinetului de limba engleză; <br>
    <strong>19-20 mai 1995</strong> - sărbătorirea a 125 de ani de la înfiinţarea Liceului "Nicu Gane"; <br>
    <strong>1999</strong> - Liceul Teoretic "Nicu Gane" devine Colegiul Naţional "Nicu Gane"; <br>
    <strong>2000</strong> - laboratorul de informatică a fost modernizat; <br>
    <strong>2001</strong> - aniversarea lui Eugen Lovinescu prin sesiune ştiinţifică; <br>
    - sărbătorirea acad. Constantin Ciopraga la 85 de ani; <br>
    <strong>2001, 2002</strong> - realizarea si apariţia anuarelor colegiului; <br>
    <strong>2002, 2003</strong> - "Revista Noastra" este laureată la faza naţională a concursului revistelor şcolare; <br>
    <strong>2003</strong> - a fost amenajat cel de-al doilea laborator de informatică ; <br>
    - cabinetul de literatură este adaptat curriculumului şcolar actual; <br>
    - apare a doua monografie "Colegiul Naţional <em>Nicu Gane </em> (1870-2003)" scrisa de prof. Mioara Gafencu şi prof. Sorin Gafencu; <br>
    <strong>2004</strong> (iunie) - vizita participanţilor la Olimpiada Naţională de Limba Română a minorităţilor;<br>
    <strong>2005 (martie)</strong> - găzduirea manifestărilor din cadrul Săptămânii Francofoniei, cu participarea TV5; <br>
    - se adoptă sloganul "Educaţie pentru toţi cei dispuşi să o primească"; <br>
    - (mai) - reuniunea coordonatorilor de proiect Commenius din Letonia, Lituania si Germania;<br>
    - se statorniceşte spectacolul elevilor dedicat parinţilor;<br>
    - (6 decembrie) - Colegiul Naţional "Nicu Gane" găzduieşte Simpozionul Naţional "Nicolae Labiş", cu participarea doamnei Margareta Labiş, a prof. univ. dr. Mircea A. Diaconu, a unor scriitori, inspectori şcolari şi a profesorilor de limba şi literatura română din municipiu şi din zonă.<br>
    <strong>2006</strong> - (februarie) - reuniune de lucru a ANPRO (Asociaţia Naţională a Profesorilor de limba şi literatura română) cu tema PROIECTUL"Cercuri de lectură"; <br>
    - Simpozion Eugen Lovinescu; <br>
    - (septembrie) - se inaugurează laboratorul AEL - realizat cu sprijinul Primariei şi al Consiliului reprezentativ al părinţilor; <br>
    - încep lucrările de consolidare şi reabilitare la corpul principal al instituţiei, care datează din 1892; <br>
    - (29 noiembrie - 2 decembrie) - reuniune a participanţilor, elevi si profesori, din Italia, Turcia, Estonia, Letonia şi din Colegiul "Nicu Gane" la Proiectul Comenius "Metode creative de stimulare a învăţării limbilor străine". <br>
    <strong>2007</strong> - Se obţin primele premii internaţionale din istoria şcolii: Alexandra Corbu, locul IV la Olimpiada Internaţională de Filozofie (îndr. prof. Cristina Nechifor) şi Premiul I la Festivalul muzical al elevilor de la San Nicandro Garganica - Italia, unde colegiul nostru a fost reprezentat de: Aniţa Gheorghe, Andron Alexandra, Covataru Claudia, Leţi Mădălina. <br>
    <strong>2008</strong> - din 18 iunie la C.N. "Sf. Sava" Bucureşti s-a fondat "Alianţa Colegiilor Centenare", din care facem parte alături de alte 20 de colegii.<br>
</p>
<h2>Patronul Spiritual</h2>
<h3>(Nicu Gane - repere bibliografice)</h3>
<p class="n">
    <strong>1838 <em>1 februarie</em></strong>.
    Se naşte, la Fălticeni, Nicolae Gane, fiu al postelnicului Matei Gane şi al Ruxandei, născută Văsescu. Tatăl său, om cu oarecare cultură în
    epocă, mai avea trei fraţi: Enachi (poet), Costachi (tradu­cător) şi Dimitrie - socrul lui Constantin Negruzzi. Familia Gane era o veche
    familie boierească, atestată în actele voievodale cu 400 de ani în urmă.
</p>
<p class="n">
    <strong>1843</strong> Este înscris la şcoala primară din Fălticeni condusă de preotul Neofit Scriban - viitorul arhimandrit şi membru în Divanul Ad-hoc. Totodată
    ia lecţii de germană de la "profesorul" Ziegmary - care era un vânător vestit ce-i va insufla tânărului învăţăcel dragostea pentru
    vânătoare.
    <br/>
    <strong>1847</strong> La terminarea şcolii primare pleacă la Iaşi, unde îşi continuă studiile la pensionul lui Louis Jordan.
    <br/>
    <strong>1857</strong> Este numit secretar-translator (cunoştea bine germana şi franceza) pe lângă directorul închisorilor din Moldova, post din care
    demisionea­ză în scurt timp.
    <br/>
    <strong>1857-1859</strong> Este membru al Tribunalului din Suceava. În această perioadă participă la întrunirile de la Iaşi şi de la Mănăstirea Slatina dedicate
    Unirii Principatelor Române.
    <br/>
    <strong>1859 5 ianuarie</strong> Participă la întrunirea de la Iaşi care îl va desemna ca domnitor pe Alexandru Ioan Cuza.
    <br/>
    <strong>1860</strong> Este numit preşedinte al Tribunalului din Suceava.
    <br/>
    <strong>1861</strong> Este numit membru al "Curţii de întărituri" de la Iaşi.
</p>

<p class="n">
    <strong>1863</strong> Prefect al judeţului Suceava. La scurt timp este transferat prefect de Dorohoi, unde rămâne până în 1865.
    <br/>
    În timpul liber este atras din ce în ce mai mult de expediţiile cinegetice care-i vor inspira mare parte din scrierile sale.
    <br/>
    <strong>1864</strong> La cererea lui, este numit membru al Curţii din Focşani. În iulie, împreună cu fratele său Matei, întreprinde o excursie în Bucovina.
    Priveliştile bucovinene, unice în spaţiul românesc, îşi vor găsi loc în viitoarele sale scrieri literare.
    <br/>
    <strong>1865</strong> La cererea sa, este mutat la Iaşi, unde este numit preşedinte al Curţii de Juraţi. Este anul de cotitură în viaţa şi activitatea lui Nicu
    Gane: devine membru al "Junimii" (înfiinţată la Iaşi, în 1863). La "Junimea" este prezentat de V. Pogor (coleg de magistratură) şi fraţii
    Leon şi Iacob Negruzzi.
    <br/>
    <strong>1867</strong> Într-o şedinţă a "Junimii" prezintă prima sa scriere literară în proză: <em>Fluierul lui Ştefan.</em>Autorul fiind foarte emoţionat, nuvela
    este citită de Titu Maiorescu care, la sfârşitul lecturii exclamă: "Ei bine... domnilor, iată o nuvelă!" În acelaşi an publică<em>Fluierul lui Ştefan </em>(scriere puternic influenţată de <em>Toader şi Mărinda </em>de V. Alecsandri), împreună cu                    <em>Piatra lui Osman, </em>în "Convorbiri literare", revistă care începuse să apară de la 1 martie.
    <br/>
    <em>iulie-august.</em>
    Împreună cu fraţii Nerguzzi, întreprinde o călătorie în Elveţia, Franţa şi Belgia.
    <br/>
    <em>noiembrie.</em>
    Ia parte la cel dintâi banchet al "Junimii", ţinut în casele lui Titu Maiorescu (la patru ani de la înfiinţarea "Junimii").
    <br/>
    Spre sfârşitul anului, este transferat la Focşani ca preşedinte de secţie la Curtea de Apel, dar demisionează în scurt timp, împreună cu
    alţi colaboratori, neadmiţând unele nereguli împotriva legii.
    <br/>
    <em>15 decembrie. </em>
    Publică în "Convorbiri literare" poeziile <em>Doi ochi </em>şi <em>Steaua de-amor.</em>
    <br/>
    <strong>1868</strong> Nicu Gane refuză postul de şef de secţie la Curtea de Apel de la Focşani, post oferit de noul guvern. Practică avocatura la Iaşi.
    <br/>
    În "Convorbiri literare" îi apare scrierea <em>Comoara de pe Rarău.</em>
    <br/>
    <strong>1869</strong> <em>11 mai. </em>
    Nicolae Gane se căsătoreşte la Iaşi cu Sofia Stoianovici. Fiind numit procuror general la Curtea de Apel din Iaşi, Nicu Gane ţine Discursul
    inaugural.
    <br/>
    <strong>1870</strong> Este numit prefect de Iaşi, funcţie din care demisionează în decembrie.
    <br/>
    <strong>1872</strong> Ales deputat de Suceava, Nicu Gane este prins din ce în ce mai mult în viaţa politică a timpului.
    <br/>
    <em>17 </em>
    iul<em>ie. </em>Este ales pentru prima oară primar al Iaşului, funcţie în care rămâne până în 1876. Ca primar, schimbă faţa oraşului, se
    pavează numeroase străzi, se introduce iluminarea cu gaz. Împreună cu Iacob Negruzzi, A. Naum, C. Rosetti, înfiinţează la Iaşi Tipografia
    Naţională.
    <br/>
    <strong>1873</strong> În "Convorbiri literare" publică nuvela istorică <em>Domniţa Ruxandra. </em>Publică primele sale volume de literatură:                    <em>Încercări literare </em>(primele scrieri în proză, între care şi cinci nuvele) şi <em>Poesii,</em>volum semnat cu iniţialele N. G.
    <br/>
    <strong>1874</strong> Publică în "Convorbiri literare" nuvelele <em>Vânătoarea </em>şi <em>Hatmanul Baltag. </em>În calitate de primar al Iaşilor, instituie, la
    1 octombrie, prăznuirea anuală a lui Grigore Ghica, decapitat de turci, pentru că se împotrivi-se înstrăinării Bucovinei.
    <br/>
    <strong>1875</strong> În aceeaşi revistă publică <em>Astronomul şi doftorul, Şanta.</em>
    <br/>
    <strong>1876</strong> În "Convorbiri literare" îi apar nuvelele <em>Duduca Balaşa </em>şi <em>Cânele Bălan.</em>
    <br/>
    <strong>1877 </strong> În revista de la Iaşi îi apar nuvelele <em>Petru Rareş </em>şi <em>Andrei </em>Fl<em>orea Curcanul. </em>În volumul                    <em>Rumănische Skizzen, </em>publicat la Bucureşti, îi apare <em>Şanta </em>(traducere în germană de Mite Kremnitz).
    <br/>
    <strong>1879</strong> În "Convorbiri literare" publică <em>În vacanţe, Sfântul Andrei, Ochii mamei.</em>
    <br/>
    <strong>1880</strong> În revista "Junimii" îi apar <em>Aliu</em>ţă <em>şi Petrea Dascălul </em>(două dintre cele mai bune nuvele ale scriitorului).
    <br/>
    La Tipografia Naţională din Iaşi, Nicu Gane publică prima ediţie: <strong>Novele, I, II, </strong>cu dedicaţia: "Amicilor mei din Junimea"
    <br/>
    <strong>1881</strong> În "Convorbiri literare" publică <em>Stejarul din Borzeşti.</em>
    <br/>
    <em>27 aprilie. </em>
    Este numit pentru a doua oară primar al Iaşului - dar pentru un termen scurt: la 21 iunie părăseşte postul.
    <br/>
    <strong>1882 </strong> În "Convorbiri literare" apar primele şapte cânturi din <em>Infernul </em>de Dante Alighieri, în traducerea lui Nicu Gane.
    <br/>
    <em>23 martie. </em>
    Nicu Gane este ales membru corespondent al Academiei Române la Secţia literară.
    <br/>
    În studiul <em>Literatura română şi străinătatea </em>(apărut în "Convorbiri literare") Titu Maiorescu îl citează pe Nicu Gane, împreună cu
    Ioan Slavici şi Iacob Negruzzi printre prozatorii reprezentativi ai epocii. Într-un articol publicat în revista "Familia" din Oradea, Ioan
    Slavici afirmă că "nuvelele lui Nicu Gane sunt un însemnat pas spre formarea limbii literare româneşti."
    <br/>
    <strong>1883</strong> <em>5 iunie. </em>
    Alături de V. Alecsandri şi I. Negruzzi, participă la dezvelirea statuii lui Ştefan cel Mare în faţa Palatului Administrativ din Iaşi. Ca
    membru al Comitetului de iniţiativă a ridicării statuii, rosteşte o entu­ziastă cuvântare. Participă la banchetul celei de a XX-a aniverări
    a societăţii "Junimea". (Este iniţiatorul unui joc de păpuşi care imitau şedinţele literare ale "Junimii" ţinute în casa lui Vasile Pogor
    din Iaşi.)
    <br/>
    Împreună cu G. Panu şi A.D. Xenopol, Nicu Gane trece în Partidul Naţional Liberal, ceea ce i-a atras critici severe din partea
    junimiştilor, între care şi Titu Maiorescu.
    <br/>
    Deputat în Constituantă, Nicu Gane este ales în Comisia însărcinată cu redactarea proiectului de modificare a Constituţiei.
    <br/>
    Întreprinde o excursie în Munţii Neamţului şi pe Ceahlău.
    <br/>
    <strong>1886</strong> În "Convorbiri literare" îi apar scrierile <em>Agatocle Leuştean, Două zile la Slănic, Dac-a vrea Dumnezeu </em>(sunt ultimele lucrări în
    proză publicate în revistă).
    <br/>
    Editura Socec din Bucureşti îi tipăreşte <em>Nuvele, </em>I, II, III. Ediţia a II-a, revăzută şi adaosă (primele două volume reproduc
    ediţia din 1880, ultimul - inedit).
    <br/>
    <em>4 iunie. </em>
    Este ales pentru a treia oară primar al Iaşului, funcţie în care rămâne până în martie 1888.
    <br/>
    La sfârşitul lui iulie, însoţeşte familia primului ministru Ion C. Brătianu într-o excursie în Bucovina şi nordul Moldovei. (Frumuseţea
    peisajelor şi peripeţiile trăite vor fi prezentate în volumul <em>Zile trăite.)</em><strong>1888</strong> <em>1 martie. </em>Este numit
    ministru la Domenii, pentru scurt timp.
    <br/>
    <strong>1896</strong> <em>11 ianuarie. </em>
    Este ales pentru a patra oară primar al Iaşului, funcţie în care rămâne până în aprilie 1899.
    <br/>
    <em>1 decembrie. </em>
    Ca primar, participă la inaugurarea Teatrului Naţional din Iaşi; rosteşte un discurs.
    <br/>
    <strong>1899</strong> Face parte din Asociaţia oamenilor de litere români, înfiinţată în acest an de Bogdan Petriceicu Hasdeu.
    <br/>
    La Socec, la Bucureşti, îşi reeditează cele trei volume de <em>Nuvele, </em>cu unele revizuiri ale textului.
    <br/>
    <strong>1901</strong> Este numit prefect al judeţului Iaşi.
    <br/>
    Publică volumul de publicistică <em>Pagini răzleţe. </em>
    <br/>
    <strong>1903</strong> Publică volumul autobiografic <em>Zile trăite.</em>
    <br/>
    La Cernăuţi apare o traducere în limba germană din nuvelele repre­zentative ale lui Nicu Gane.
    <br/>
    <strong>1904</strong> Publică volumul de povestiri şi amintiri <em>Păcate mărturisite </em>(prin titlu amintind <em>Păcatele tinereţelor </em>de C. Negruzzi).
    <br/>
    <em>iulie. </em>
    În volumul <em>Borzeştii şi Ştefan cel Mare, </em>tipărit la Bucureşti cu prilejul comemorării a 400 de ani de la moartea lui Ştefan cel
    Mare şi Sfânt, apare <em>Stejarul din Borzeşti.</em>
    <br/>
    <strong>1906</strong> Colaborează la "Viaţa românească", încă în primul număr (1 martie) cu articolul <em>Cum am tradus "Infernul" de Dante. </em>După apariţia
    primu­lui număr al revistei, la întrunirea din casa lui C. Stere din Iaşi, parti­cipă şi Nicu Gane, unul dintre puţinii junimişti rămaşi în
    viaţă. La Iaşi îi apare traducerea integrală a <em>Infernului </em>lui Dante (reeditată în anul următor).
    <br/>
    <em>15 octombrie. </em>
    Cu prilejul dezvelirii statuii lui V Alecsandri la Iaşi, Nicu Gane aduce bardului de la Mirceşti un emoţionant omagiu.
    <br/>
    În volumul omagial <em>V. Alecsandri, </em>Nicu Gane publică evocarea <em>Alecsandri ?i Eminescu.</em>
    <br/>
    La Cernăuţi îi apare cel de al doilea volum de <em>Nuvele </em>în traducere germană.
    <br/>
    <strong>1907</strong> <em>14 iulie. </em>
    Este numit pentru a cincea oară primar al Iaşului, funcţie în care rămâne până în ianuarie 1911.
    <br/>
    <strong>1907-1908 </strong> În colecţia "Biblioteca pentru toţi" îi apar 3 volume de <em>Nuvele.</em>
    <br/>
    <strong>1908</strong> <em>1 aprilie. </em>
    Nicolae Gane este ales membru activ al Academiei Române. (Discursul de recepţie îl va rosti în şedinţa academică din 13 mai 1909. Răspunsul
    îl va da Iacob Negruzzi.)
    <br/>
    <strong>1909</strong> La Editura Sfetea din Bucureşti îi apare ultimul volum tipărit în timpul vieţii: <em>Spice </em>(Povestiri, amintiri, discursuri
    comemorative). (Volumul va fi reeditat şi întregit de autor în 1910.)
    <br/>
    <strong>1910</strong> În albumul <em>Eminescu comemorativ, </em>alcătuit de Octav Minar, Nicu Gane evocă <em>în Amintiri</em>personalitatea poetului nostru
    naţional.
    <br/>
    <em>1 aprilie. </em>
    Nicu Gane este numit de către Ministerul Instrucţiunii membru în Comitetul Teatrului Naţional din Iaşi, al cărui director era Mihail
    Sadoveanu.
    <br/>
    Cu toate că a rămas întotdeauna legat de locurile natale, Nicu Gane vinde casa părintească din Fălticeni lui Artur Gorovei (rudă a sa). (În
    această casă apare revista de folclor "Şezătoarea" până în 1925.)
    <br/>
    În Fălticeni ia fiinţă societatea corală "Nicu Gane".
    <br/>
    <strong>1912</strong> Colaborează sporadic la revista "Flacăra".
    <br/>
    Nuvela lui Nicu Gane <em>Comoara de pe Rarău </em>apare în traducere germană în revista <em>Bukarester Tageblatt.</em>
    <br/>
    Este numit preşedinte al Secţiei literare a Academiei Române.
    <br/>
    <strong>1914</strong> În capitolul <em>Povestitori de ieri şi de astăzi: nuvelişti şi scriitori de schiţe </em>din volumul <em>O luptă literară, </em>Nicu Iorga
    întreprinde o amplă analiză a nuve­listicii lui Nicu Gane, comparată uneori chiar cu nuvelele lui Slavici. Editura Alcalay din Bucureşti
    începe publicarea unei ediţii de <em>Opere complete </em>- Nicu Gane. (Nu apare decât vol. I cuprinzând tălmăcirea <em>Infernului. </em>
    Ediţia este întreruptă de izbucnirea războiului.)
    <br/>
    <strong>1916</strong>   <strong><em>16 aprilie</em></strong> <em>. </em>
    Se stinge din viaţă la ora opt şi jumătate seara, la Iaşi, în casa de pe strada care astăzi îi poartă numele. Împlinise vârsta de 78 de
    ani.
    <br/>
    I s-au organizat funeralii naţionale, cu participarea reprezentanţilor instituţiilor culturale şi ştiinţifice şi a unei delegaţii a
    judeţului Suceava. Este înmormântat la 19 aprilie în cimitirul Eternitatea din Iaşi. Din partea scriitorilor şi oamenilor de teatru îi
    aduce ultimul omagiu Mihail Sadoveanu.
</p>
<p class="tar">
    Extrasă din prefata la "Stejarul din Borzeşti", Constantin Mohanu, Ed. Litera, 1998
</p>

<h2>Foști Directori</h2>

<p align="justify">
    <strong>VASILE BALOMIR</strong> , profesor titular de parte ştiinţifică, a condus Gimnaziul "Alexandru Ioan I" în primul an al fiinţării sale, 1870–1871. Bursa judeţului pentru
    Politehnica din Zürich l-a adus la Fălticeni prin transfer de la Gimnaziul "Ştefan cel Mare", Iaşi. Funcţionau în acel an doar doi profesori: directorul la
    partea ştiinţifică şi Nicolae Beldiceanu la partea literară. "Ministerul aprobă cu satisfăcţiune deschiderea cursurilor gimnaziului... precum şi permutarea
    domnului Vasile Balomir în calitate de director şi profesor de parte ştiinţifică" (Telegrama ministrului nr. 10581). Ros de o boală ascunsă şi
    neiertătoare, în mai 1871, Vasile Balomir cerea să fie înlocuit cu Nicolae Beldiceanu. La scurt timp s-a sfârşit din viaţă.
</p>
<p>
    <strong> THEODOR AVRAM</strong> , profesor de ştiinţele naturii, a predat la gimnaziu între 1871–1876 fiind şi director. Cum între timp îşi deschisese şi o tipografie, nu a mai avut timp
    suficient pentru şcoală.
</p>
<p>
    <strong> V. T. LOVINESCU</strong> , profesor de română, latină şi istorie, între 1873–1876, a funcţionat apoi ca director fiind ancorat şi în realităţile vieţii politice. Întemeietor al
    dinastiei Lovineştilor, el a îndrumat paşii nesiguri ai începuturilor gimnaziului, dându-le putere şi temeinicie. Membru în consiliul comunal, a susţinut
    interesele şcolii şi i-a obţinut dotări corespunzătoare. Din 1876 conduce gimnaziul şi şcoala de meserii care funcţiona în acelaşi local. În 1885,
    printr-un amendament în Cameră, obţine o izbândă: trecerea gimnaziului în bugetul ministerului. Primul şi marele pas pentru construcţia clădirii
    gimnaziului de aici porneşte. A izbutit să-şi vadă visul împlinit: în 1892 s-a intrat în frumosul şi modernul locaş. Făcuse foarte multe şi erau încă multe
    de făcut. Întâi de toate, şcoala şi gospodărirea acesteia precum şi a proprietăţii sale de pe strada Sucevei, stradă a Lovineştilor în perimetrul de după
    spitalul israelit (Maternitate) şi până la casa Horia şi Vasile Lovinescu (Galeria Oamenilor de Seamă). Activitatea şcolară s-a împletit cu cea politică;
    în cinci legislaţii a reprezentat oraşul ca deputat şi senator. 40 de ani de activitate în slujba şcolii urmată de o bătrâneţe activă la Casa de economii.
    Participant la sărbătoarea Semicentenarului, privind înapoi cu modestie şi mulţumire, cel ce s-a înzidit în şcoala pe care a slujit-o formând atâtea
    generaţii, a dăruit un fond bănesc pentru ajutorarea elevilor cu puţine posibilităţi materiale.
    <br/>
    A slujit ca director aproape un sfert de veac. A fost decorat cu Steaua şi Coroana României, grad de oficer, Bene-merenti, clasa I-a şi Răsplata muncii
    pentru şcoală.
</p>
<p>
    <strong>GHEORGHE STINO</strong> a fost profesor de limba franceză onorând şcoala până în 1932. Absolvent al gimnaziului în 1892, el face parte din familia slujitorilor şcolii care începe
    cu tatăl său, Ion Stino, autor al unui manual de geografie pentru învăţământul primar, şi continuă cu fiul său, cunoscutul profesor A. G. Stino. Profesor
    al lui Mihail Sadoveanu, a condus şcoala din martie 1901– decembrie 1903, august 1918 – ianuarie 1919 şi din 1921–1929. Interesat de literatură, iubitor de
    carte şi cultură, a militat pentru înfiinţarea bibliotecii gimnaziului şi pentru organizarea vieţii cultural-artistice preocupându-se şi de orchestra
    elevilor. Pensionat în 1932, mărturisea: "şcoala a fost unicul scop al vieţii mele". Activitatea de etajare a liceului l-a încăpăţânat în a realiza şi mai
    mult. În măsura în care a avut fonduri. Cei ce l-au urmat, au continuat amenajările.
</p>
<p>
    <strong> ANASTASE SPIRIDONESCU</strong> , născut la Pomârla, Dorohoi, profesor de limba latină din 1899, a organizat sărbătoarea Semicentenarului considerându-se pe sine şi pe confraţii săi
    "apostoli" al luminii, frumosului şi adevărului. Probabil istoricul gimnaziului l-a scris el iar statisticile le-a realizat N. N. Tolea, profesor de desen
    care era şi secretar. Serbarea a fost pregătită de Ion Chirescu, actorul Marinescu şi profesoara Creangă. Dintr-o scrisoare trimisă de un absolvent al
    promoţiei 1932, căpitanul Cozma, citim că era "înalt şi voinic cât Ceahlăul". Portretul capătă consistenţă prin evidenţierea aspectelor de ordin moral, în
    primul [rând era] iubirea pentru elevi. A condus şcoala aproximativ 16 ani.
</p>
<p>
    <strong> HARALAMBIE BĂIEŞU</strong> , născut la Botuşana, lângă Umor, în 1891, a absolvit Universitatea din Cernăuţi, specialitatea istorie – geografie. A fost director al liceului din
    1929–1931 şi a apoi din 1945–1946. În special în timpul ultimii conduceri s-a lovit de epoca tulbure, de precaritatea mijloacelor pentru desfăşurarea
    învăţământului, muncind pentru reconstrucţia şcolii devastată de ravagiile războiului şi izbutind să o reorganizez prin energia sa neobosită. A continuat
    cu aceeaşi energie munca până la pensionarea din 1947. A fost membru al Ordinului "Coroana României", în grad de Cavaler.
</p>
<p>
    <strong> VASILE CIUREA</strong> , născut la Fălticeni în 1885, absolvent al gimnaziului în 1898, s-a specializat în Ştiinţele Naturii, specialitatea secundară – drept şi economie
    politică. Îşi începe profesoratul la Pomârla. La Gimnaziul în care a învăţat, a slujit din 1900 până la pensionare, în 1943. Din 1914 se preocupă de muzeu
    colecţionând exponate valoroase, realizându-l mai întâi în şcoală, lângă amfiteatru, şi mutându-l apoi în clădirea proprie, vizavi de primărie, actualmente
    Biblioteca orăşenească. Primar, prefect, parlamentar, director, profesor a fost o personalitate cu preocupări diverse. În timpul directoratului său s-au
    pensionat Anastase Spiridonescu şi Gheorghe Stino. A fost membru al Societăţii regale de geografie, membru corespondent al Comisiei monumentelor istorice,
    membru activ al Societăţii naturaliştilor, membru corespondent al Societăţii numismatice. Muzeul Fălticenilor, deschis în 1930, este rodul muncii sale.
    Simion Mehedinţi îi recunoscuse meritul: "de-ar face şi alţii aşa". L-a onorat şi faptul că a editat manuale şcolare. A fost decorat cu "Răsplata muncii"
    Cl. I, Ordinul "Coroana României", Meritul cultural, Profesor evidenţiat şi Profesor emerit. A trăit bucuria Centenarului reprezentând ca decan de vârstă
    vechea gardă.
</p>
<p>
    <strong> ION MAZĂRE</strong> , ardelean, profesor de matematică din 1906 până la pensionarea din 1935. A. G. Stino afirma că a terminat gimnaziul în timpul directoratului său
    (1914–1915), probabil o "enclavă" în timpul directoratului Spiridonescu. Ajutor de primar şi primar, un fost elev îl portretiza "ochi pătrunzători, cu o
    pală de păr roşu ce o dădea peste chelie". A fost director între 1933–1938.
</p>
<p>
    <strong> ILIE GRIGORE</strong> , născut în 1887 la Copăceni, Ilfov, specializat în filosofie, a funcţionat la Liceul "Nicu Gane" din 1930 până în 1947, la pensionare. A condus şcoala
    între 1938–1945. O perioadă dificilă "şcoala străjerită din 1937, pavilionul s-a ridicat la 29 mai 1938". Epocă tulbure în care, pentru a ajuta elevii a
    înfiinţat internatul în câteva spaţii din şcoală supraveghind mişcările de extremă care aveau adepţi între elevi; perioadă nesigură şi cu multe încercări,
    cu mobilizări şi concentrări, cu refugiul la Blaj, cu pierderi materiale şi umane.
</p>
<p>
    <strong> NICOLAE MACOVEI</strong> semnează la rubrica director în 1940. Era născut în 1907 la Cahul; cităm dintr-un proces verbal din februarie 1941 despre gestul de absolută gravitate şi
    repulsie comis cu ocazia Sfântului Neculai de către nişte elevi huligani care au batjocorit icoana din coridorul principal, fapt pe care Nicolae Macovei,
    fostul director de atunci, a confirmat în faţa Conferinţei profesorilor că nu l-a cunoscut.
</p>
<p>
    <strong> TRAIAN LUCHIAN</strong> s-a născut la Igeşti, judeţul Storojineţ în 1904, în familia unui profesor la liceul militar. Licenţiat în filologie modernă, a predat limba română, latină
    şi franceză la Storojineţ, Vijniţa, Câmpulung, Fălticeni. În anul şcolar 1946–1947 a fost director la liceul nostru ancorând în realităţile grele ale
    epocii şi încercând unele rezolvări. Politica prosovietică, combaterea ideologiei burgheze şi afirmarea celei comuniste au menţinut încă starea de
    suspiciune. Mulţi elevi erau bănuiţi de orientare greşită, elementul ideologic fiind un obiectiv la ordinea zilei.
</p>
<p>
    <strong> VASILE GH. POPA</strong> născut în 1912 la Mălureni-Nicoreşti, judeţul Galaţi, a făcut studii teologice şi filologice. În 1938 a fost angajat la Episcopia ortodoxă română a
    Maramureşului, zona Sighet. Între anii 1940–1946 a funcţionat ca angajat al Sfintei Mitropolii a Moldovei şi Sucevei, slujind în parohie. Din 1946 se
    angajează ca preot la acest liceu predând religia şi limba română până în 1951. După laicizarea învăţământului în 1948, predă doar limba română. În anul
    şcolar 1947–1948 a fost directorul şcolii desfăşurând o activitate meritorie. În perioada 1951–1960 a funcţionat la Liceul nr. 2; perioada de detenţie, ca
    şi în cazul colegului de cancelarie, profesorul Sorin Gorovei, îşi încetează activitatea şcolară o vreme. Eliberat în 1964, ocupă până în 1969 funcţii la
    I.A.S. Şoldăneşti. Din 1969 este reîncadrat la Liceul nr. 1 Fălticeni până în 1976 când este pensionat. Om de o generozitate deosebită şi de o cultură
    vastă, veşnic activ, profesorul a rămas senin şi entuziast, chiar dacă a avut atâtea de suferit. Munca îl făcea să uite şi să ierte. A fost mult iubit ca
    profesor şi ca director. A încurajat imboldurile poetice ale elevului său Nicolae Labiş, pe care l-a iniţiat în literatura clasică şi în marea poezie a
    lumii. A asigurat elevilor din internat condiţii de studiu, învăţându-i religia muncii şi organizând Societatea ştiinţifică, artistică şi literară a
    elevilor precum şi Cenaclul de la Casa de Cultură.
    <br/>
    În vara anului 1948 semnează ca director şi <strong>VLADIMIR DZULYBA</strong>, născut la Cernăuţi în l896, ucrainean, profesor de germană care odată cu
    introducerea limbii ruse, predă acest obiect. De asemeni, semnează ca director şi în anul 1948–1949 împreună cu <strong>DAVID RIMER</strong>, subdirector
    sau director adjunct.
</p>
<p>
    <strong> NICOLAE A ONOFRIESEI (ONOFRIESCU)</strong> născut la Rădăşeni în l908, a urmat liceul la Fălticeni între anii 1921-1928. În perioada 1929–36 continuă studiile superioare devenind licenţiat în
    Ştiinţele naturii. La Fălticeni este profesor din 1945. A condus şcoala între 1948–1950 ca director alături de V. Dzulyba sau David Rimer, revenind la
    conducere şi în alţi ani. Conştiincios şi serios în muncă, după ce un an a lucrat ca inspector şcolar (1950–51), a condus cu intermitenţe Şcoala medie nr.
    l împreună cu învăţătorul Ion Andriescu, născut la Nigoteşti, cu profesoara Alexandrina Năstac, cu Ioan Baldazar sau Constantin Ilioaia, până la
    pensionare. A asigurat un echilibru absolut necesar în perioada tulbure şi agitată de ideologizare forţată şi sindicalizare. A fost, cu întreruperi,
    director timp de peste 10 ani. Şcoala de 11 sau 10 clase, cu note de la 1 la 5 şi organizarea în pătrare, cu examene anuale avea nevoie de spiritul
    cumpătat al seniorului.
</p>
<p>
    <strong> VASILE BOGDANEŢ</strong> născut în 1907 la Găuzeni, judeţul Orhei s-a aflat la conducerea şcolii în anii 1950–l952. Profesor de fizică, a avut un băiat Valeriu, coleg cu Nicolae
    Labiş, devenit tot profesor de fizică, funcţionând la Bacău şi care, la Centenar, ne-a vorbit de adolescenţa şi primele iubiri ale poetului de la Mălini.
    Vasile Bogdăneţ preda şi cursuri de limba rusă colegilor de cancelarie în conformitate cu viaţa politică şi comandamentele epocii.
</p>
<p>
    <strong> IOAN BALDAZAR</strong> născut la Botoşani în 1927, absolvent al Facultăţii de Geografie-Geologie la Universitatea "Alexandru Ioan Cuza" Iaşi, a fost încadrat în învăţământ în
perioada 1952–l967. Din 1954, cu intermitenţe (la începutul anului şcolar 1960–1961 a fost înlocuit o perioadă scurtă de profesorul    <strong>VLADIMIR MARTUSIEVICI</strong>, născut în 1923 la Viprova, judeţul Orhei, şi în anii şcolari 1965–1967 când a fost inspector şef al Secţiei de
    Învăţământ a raionului Fălticeni). În 1967 un accident stupid îi provoacă moartea prin electrocutare. A condus unitatea împreună cu profesorul Onofriescu,
    cu Ion Andriescu sau Constantin Ilioaia. Cu mobilitate şi flexibilitate a gândirii, cu energie tinerească, a înviorat viaţa cultural-artistică a şcolii şi
    a instaurat o atmosferă de colegialitate ieşită de sub teroarea susceptibilităţii organelor politice. Vesel, glumeţ, spontan, cultivat, a decorsetat mult
    atmosfera tensionantă impusă de ideologia vremii, a îndemnat colegii şi elevii spre afirmare plenară printr-un respiro creator de interes pentru muncă şi
    învăţătură. Calităţile sale intelectuale şi tactul pedagogic l-au ajutat la aceasta. Spiritului sobru al colaboratorilor le-a adăugat mobilitatea tinereţii
    sale entuziaste. Activitatea a sporit în randament prin acţiuni extraşcolare asigurate cu tact şi la care el însuşi participa. Prestigiul instituţiei, a
    crescut învăţământul s-a stabilizat prin revenirea la studiile de 11, respectiv 12 ani. Perioada directoratului său a fost mai favorabilă receptării de
    ansamblu a culturii şi literaturii, cu o deschidere mai mare spre nou. Nici problemele administraţiei n-au rămas mai prejos. Suspiciunea din deceniul cinci
    a dispărut definitiv asigurând climatul propice şcolii. A fost decorat cu Medalia Muncii.
</p>
<p>
    <strong> CONSTANTIN ILIOAIA</strong> , născut la Brusturi judeţul Neamţ în 1914, a fost mai întâi învăţător din l950 în această şcoală. Între timp şi-a continuat studiile, devenind profesor de
    matematică. Activ în viaţa şcolii, remarcat pentru conştiinciozitate şi putere de muncă, domnul director (aşa îl numim şi acum când a devenit nonagenar şi
    simţim că ochii i se umezesc a mulţumire pentru recunoaşterea meritelor sale puse în slujba şcolii fălticenene) este cel dintotdeauna: entuziast, cu
    iniţiativă, cu puterea gândului frumos, cu planuri, multe planuri concretizate în Monumentul Veteranilor de război, cu activităţi la Casa Corpului
    Didactic, Casa Pensionarilor şi Sindicatul Învăţământ, cu alte şi alte proiecte şi propuneri pentru comunitate, rezolvabile în viitor. În urmă, o viaţă de
    om cu nenumărate merite pornind de la organizarea acţiunilor artistice ale Sindicatului Învăţământ, în special a corului cadrelor didactice, a grupului
    cameral, a unor acţiuni care promovau talentele din învăţământ. Cu o scurtă perioadă când a fost director la Şcoala "Alexandru Ioan Cuza" (1960–1961),
    revine ca director când prim, când adjunct. A colaborat cu profesorul director Ioan Baldazar rămânând director prim când acesta a fost inspector şef al
    raionului. Din 1967 a coordonat conducerea împreună cu directoarea Doina Cozma, iar după 1970 şi cu profesorul director Gheorghe Gafencu. Acesta este de
    altfel "triumviratul" care a pregătit Centenarul. Energia inepuizabilă a directorului Constantin Ilioaia s-a manifestat din plin. Foarte multe din
    realizările materiale i se datorează. A îndrumat cu dragoste şi blândeţe activitatea elevilor din ciclul I şi II. Repet, omul cu tălpi de oţel a răspuns
    oricând prezent în şcoală până la pensionarea din 1976. Şi chiar şi după aceea. Între timp, şcoala lui a devenit mai mare: şcoala oraşului unde a slujit ca
    profesor de şcoala vieţii. Aşa îl revedem azi, veteran de război, veteran al învăţământului românesc, privit cu veneraţie de profesori şi foşti elevi,
    înscriindu-se în galeria "oameni care au fost" şi "oameni care sunt". Profesor evidenţiat, medaliat cu Medalia Muncii clasa a III-a şi nenumărate diplome
    pe linie şcolară, sau ca veteran de război, Cetăţean de onoare al oraşului, domnul director mai are multe proiecte. Şi poate îl vom întâlni şi în 2014. I-o
    dorim.
</p>
<p>
    <strong> DOINA COZMA</strong> , născută în 1938 la Tereblecea, pe teritoriul românesc dintre Siret şi Cernăuţi este absolventă a Facultăţii de matematică la Universitatea "Alexandru
    Ioan Cuza" Iaşi. A funcţionat în învăţământ din 1958; în mai puţin de 10 ani, devine cea mai tânără directoare. Creşte odată cu funcţia de mare răspundere
    pe care a primit-o şi se formează alături de soţul ei, directorul Filaturii, inginerul Gheorghe Cozma. Fire puternică, băieţoasă, fără complexe, a fost
    ajutată şi ascultată de profesori. De la o partidă de şah la o zi de muncă impusă prin hotărârile de partid şi de stat, directoarea a fost urmată pentru că
    a dat puterea exemplului. A fost alături de colegi şi elevi îngrijindu-se de asigurarea condiţiilor de viaţă, muncă şi învăţătură ale copiilor. A
    întreţinut spiritul de emulaţie, camaraderia şi colegialitatea. De aceea, toţi au sprijinit-o şi au urmat-o. Relaţia cu foştii elevi se menţine la fel de
    puternică şi azi. Echipa Centenarului în trio directorial – Cozma, Ilioaia, Gafencu – a fost un exemplu de coeziune. La expirarea stagiului, a condus
    Liceul nr. 2, reîntorcându-se la catedră aceeaşi colegă muncitoare, principială, glumeaţă, exigentă cu sine şi cu ceilalţi.
    <br/>
    Doina Cozma, prima femeie-director din istoria acestei instituţii de învăţământ, rămâne un exemplu de muncă, devotament şi abnegaţie în şcoala pe care a
    slujit-o cu dăruire şi care acum, ca întotdeauna, o salută cu respect.
</p>
<p>
    <strong> GHEORGHE GAFENCU</strong> , născut în 1936 la Drăguşeni în apropiere de Fălticeni, a absolvit Facultatea de filologie, secţia istorie. A revenit la liceu, după ce fusese director la
    Şcoala Şoldăneşti şi-şi făcuse stagiul de inspector şcolar şi vicepreşedinte al raionului; s-a angajat plenar, din 1968, în activitatea de pregătire a
    Centenarului alături de întreg colectivul. Devine al doilea adjunct cu probleme de administraţie şi învăţământ seral, apoi director prim împreună cu
    directoarea adjunctă Ana Dascălu până în 1984 când este numit Inspector General al învăţământului sucevean. Se întoarce ca director în toamna anului 1989,
    sfârşindu-se din viaţă în 1990. Energic, entuziast, constructiv, în 15 ani de directorat a realizat împreună cu colegii şi elevii nenumărate obiective
    aidoma lui V. T. Lovinescu, Gh. Stino, Constantin Ilioaia. Primul director amintit a văzut ridicându-se gimnaziul; cel de-al doilea a urmărit cu emoţie
    construcţia etajului; cel de-al treilea cu întreaga pleiadă (Ioan Baldazar, Doina Cozma, Gheorghe Gafencu) a realizat modernizarea impusă de Centenar. Cu
    Gheorghe Gafencu lucrurile stau altfel. S-a înzidit în corpul B, sala de gimnastică, cantină, internat, atelier. A trăit în perioada de mari construcţii
    edilitar-şcolăreşti în care, ca un alt Meşter Manole, a lucrat alături de "Nouă meşteri mari,/ Calfe şi zidari". Mult? Puţin? "Umbra" de care vorbea E.
    Lovinescu la Semicentenar, l-a prins în zid şi pe Gheorghe Gafencu. Bucurie a muncii şi bucurie a izbânzii. Si, negreşit, umbre pe care patima dăruirii le
    va estompa. Construind nu pentru sine, ci pentru contemporani şi posteritate, urmărind cu bucurie rodnicia colegilor şi a elevilor pe care nu mai prididea
    să-i laude cu orice prilej, a fost un exemplu. Inspectorul Constantin Chindea îi admira sinceritatea şi altruismul aprecierii laudative a semenilor săi.
    Câţi nu-şi datorează numele şi renumele, ieşirea din anonimat, directorului. Surprins de această pornire generoasă, profesorul universitar Mihai Iacobescu
    s-a hotărât să pornească la drum împreună scriind Monografia Liceului "Nicu Gane". Onoruri, diplome, Ordinul Muncii clasa a III-a şi cel mai important din
    toate, Ordinul Şcolii, inexistent, dar prezent şi onorant pentru cel ce a pus instituţia mai presus de toate, slujind-o printr-o religie a muncii.
</p>
<p>
    <strong> CREZANT GHENGHEA</strong> , născut la Humor în 1951, este absolvent al Facultăţii de Matematică a Universităţii Bucureşti. Tânărul profesor a venit la "Nicu Gane" cu energia
    clocotitoare a începuturilor. Din elevi şi-a făcut prieteni şi i-a călăuzit nu doar în abstractul matematicilor, ci şi concretul vieţii. Dinamic şi activ,
    a fost creatorul propriei sale imagini. Promovat ca director în 1984, a preluat din mers problemele complexe ale unităţii şi le-a onorat rezolvarea
    printr-o logică impecabilă. S-a impus în faţa colectivului didactic, a avut şi are elevi performeri, azi matematicieni cu renume; tranşant în relaţiile
    colegiale, nelipsit de simţul umorului, generos când este cazul, ironic adesea, bun cunoscător al psihologiilor umane, directorul face parte din familia
    învingătorilor. La catedră şi-a manifestat cu acelaşi energitism şi spirit de emulaţie lupta cu rutina şi inerţia, crezând în competiţia profesională
    loială şi urcând pe podium performerii-matematicieni.
    <br/>
    Din ianuarie 2003, a revenit la conducerea Colegiului "Nicu Gane" cu noi forţe şi cu mai multă experienţă de viaţă. Şi ca un adevărat manager, adânc
    ancorat în realităţile şcolii, ale vieţii şi ale economiei de piaţă.
</p>
<p>
    <strong> BOGDAN GRIGORIU</strong> , născut la Miroslăveşti-Paşcani în 1941, este absolvent al Facultăţii de Matematică de la Universitatea "Alexandru Ioan Cuza" Iaşi. Este greu să apreciezi
    activitatea celor din preajmă. Încercarea de a te menţine în limitele obiectivităţii nu permite sentimentalisme. Înainte de a fi director de şcoală, Bogdan
    Grigoriu a fost un foarte bun director de clasă ca diriginte iubit şi apreciat. Profesorul ocupă un loc important în topul şi clasificările de
    specialitate. In anii 1975–1978 a fost profesor cooperant în Maroc. A făcut parte din primul Parlament postdecembrist, fiind între 1990–1992 deputat în
    Adunarea Constituantă a României. Dar politica nu l-a atras. A revenit la şcoală, la marea lui pasiune – matematica – şi la elevi. Aceasta-i era vocaţia.
    L-a înlocuit în perioada cât a fost la Bucureşti directoarea adjunctă Magda Vultur, cei doi având o frumoasă şi rodnică preocupare pentru bunul mers al
    şcolii. Instruirea elevilor a fost activitatea prioritară; a trăit în deceniul nouă transformările şi inovările în Curriculum-ul şcolar. A readus clasele
    V–VIII prin concurs, pregătind pentru şcoala-mamă generaţiile ce băteau la poarta liceului. Activ şi apropiat de colegi şi elevi, a întreţinut o atmosferă
    destinsă, de bună colegialitate, apreciind performanţele şi încurajându-le. Cu sarcini în conducerea obştii, consilier, a pledat pentru şcoală. A organizat
    în continuare "Zilele şcolii" polarizând interesul cadrelor didactice şi al elevilor pentru această sărbătoare tradiţională şi a trăit bucuria de a obţine
    ridicarea liceului la rang de Colegiu. Cu eleganţă a vorbei şi a faptei, cu înţelepciune şi tact, după pensionarea colaboratoarei sale, inimoasa şi
    conştiincioasa Magda Vultur, a condus timp de un an împreună cu profesoara Magdalena Chira. Prin concurs, profesoara Doina Dominte a devenit director
    adjunct, aceeaşi bună comunicare stabilindu-se şi de această dată.
    <br/>
    În anul 2002, expirându-i mandatul directorial, a revenit la catedră, capabil şi dornic de a o lua de la capăt, ca într-un nou început profesoratul pe care
    l-a înnobilat prin munca şi prestanţa sa.
</p>
<p align="right">
    (Extras din <em>Colegiul Naţional "Nicu Gane" (1870-2003)</em>, p. 32-38, Mioara Gafencu, Sorin Gafencu)
</p>
<p>
    <strong> NECULAI STURZU, </strong> profesor de limba si literatura româna cu rezultate remarcabile, pe linia traditiilor Colegiului, concretizate în buna pregatire a elevilor pentru examene
    si etapa nationala a concursurilor scolare, unde acestia au obtinut premii si mentiuni.<br>
    A condus institutia în perioada anilor 2005-2006, cu delegatie, si apoi, dupa concurs, pâna la pensionare, în 2010, având ca principali colaboratori pe
    prof. Liliana Oniciuc - dir. adj. , prof. Cristina Nechifor - consilier educativ, ec. Eugenia Haliga - contabil-sef, pe care le-a apreciat, în mod repetat,
    pentru competenta si loialitate. <br>
    În timpul directoratului sau, scoala a cunoscut o serie de prefaceri în ceea ce priveste infrastructura: consolidarea si reabilitarea corpului "A", cu
    fonduri de la Banca Mondiala si de la M.E.C.T., reparatii la celelalte corpuri de cladire, înfiintarea a înca 2 laboratoare de informatica, a CDI-ului, a
    salii de muzica, a Capelei "Sf. Nicolae", reînfiintarea laboratorului lingvistic si a cabinetului medical. Au fost dotate cu PC-uri si alte mijloace de
    învatamânt colectivele de catedra si toate laboratoarele. <br> A gasit mijloace de a-i stimula pe elevii care au obtinut premii nationale si internationale. <br>
    Pentru priceperea, devotamentul, chiar spiritul de sacrificiu manifestate ca profesor si director, a fost distins cu Diploma de Merit a MECT si cu Premiul
    "Gh. Lazar" clasa I. Dar, mai presus de acestea, si-a câstigat respectul elevilor si al parintilor acestora.
</p>
<p>
    <strong>NECHIFOR ELENA-CRISTINA</strong> ,
    Cronica "în mers" a colegiului adaugă prin directoratul Elena Cristina Nechifor noi împliniri pe tărâm educaţional.
    <br/>
    Un eveniment de anvergură - laurii la Olimpiada Internaţională de Filozofie din Turcia, 2007 - o propulsează pe tânăra profesoară în prima linie şi,
entuziastă şi creativă, urcă pe podiumul managerial. Preia "ştafeta" în 2010 si organizează împreună cu directoarea adjunctă    <strong>Liliana Oniciuc</strong>şi colectivul profesoral sărbătorirea a <strong>140 de ani de învăţământ la "Nicu Gane"</strong>, şcoala fiind răsplătită
    cu <strong>Diploma de Excelentă Educaţională</strong>.
    <br/>
    Absolventă a acestei instituţii, desăvârşindu-şi pregătirea în disciplinele socio-umane, a revenit şi a urmat drumul din bancă la catedră şi de aici în
    fruntea instituţiei pe care a onorat-o prin gând, faptă şi împliniri. A continuat acţiunea de modernizare a internatului, laboratoarelor, cancelariei,
    cantinei şi de montare a termopanelor la sala de sport şi în alte locaţii. Iniţiativa xeroxului pus la dispoziţia colegilor de cancelarie pentru a-şi
    pregăti teste de evaluare sau lucrări personale a fost de bun augur. A fost şi în fruntea acţiunii de înfiinţare a <strong>APCNNGF</strong>, Asociaţia
    absolvenţilor şi prietenilor Colegiului Naţional "Nicu Gane", asociaţie cu statut şi personalitate juridică, aprobată prin Ordonanţă Guvernamentală.
    <br/>
    S-au derulat şi sunt în derulare proiecte educaţionale cu profil local, naţional, european. Persoana I plural este ilustrată şi în parteneriatele profesor
    - parinti - elevi precum şi în Forul Internaţional al Democraţiei Tinerilor. Prezenţe active au fost şi în Săptămâna Educaţiei de Calitate şi în obţinerea
    steagului verde în Şcoala Eco şi în participarea la Festivalul internaţional de teatru "Birlic" şi prin Ziua porţilor deschise - toate găsindu-şi
    susţinere. Mai mult, evaluările <strong>ARACIP </strong>au adus colectivului profesoral titulatura - <strong>Scoală de Top</strong>. Numărul olimpicilor
    naţionali şi internaţionali şi al laureaţilor la concursurile sportive a onorat şcoala prin performanţele de vârf.
    <br/>
    Cu echilibru şi calm, cu autoritate, exigenţă şi respect pentru oamenii şcolii, Elena Cristina Nechifor a adunat şi a dedicat şcolii în care s-a format şi
    în care activează, prinosul unei munci rodnice la care se adaugă şi omul cetăţii din Consiliul Local.
    <br/>
    În cei doi ani de conducere a cules cu modestie roadele înaintaşilor şi a semănat pentru viitorime.
</p>
