<h2>Locuri disponibile</h2>
<p>
    Colegiul nostru vă oferă opţionale atractive, cu caracter inter şi transdisciplinar.
    Planul de şcolarizare pentru anul şcolar 2013-2014:
</p>
<div>
CLASA a V-a:<br>
    <ul>
        <li>1 clasă a V-a de 28 locuri cu predare intensivă a unei limbi moderne (engleza sau franceză).</li>
    </ul><br>
CLASA a IX-a:<br>
<ul>
    <li>Profilul real – 5 clase, SPECIALIZĂRILE:<br></li>
    <li class="sublist">
        <ul>
            <li>matematică-informatică - 4 clase cu 112 locuri din care:</li>
            <li class="sublist">
                <ul>
                    <li>28 de locuri cu predare intensivă a informaticii;</li>
                    <li>28 de locuri cu predare intensivă a limbii engleze;</li>
                    <li>56 de locuri cu predare neintensivă a informaticii.</li>
                </ul>
            </li>
            <li>ştiinţele naturii – 1 clasă cu 28 de locuri;</li>
        </ul>
    </li>
    <li>Profilul umanist – 3 clase, SPECIALIZĂRILE:<br></li>
    <li class="sublist">
        <ul>
            <li>filologie – 2 clase, limbi străine, 56 de locuri;</li>
            <li>ştiinţe socioumane – 1 clasă cu 28 de locuri.</li>
        </ul>
    </li>
</ul>


</div>
<h2>Dotări</h2>
<div>
    Pentru realizarea obiectivelor educaţionale colegiul nostru este dotat cu:
    <ul>
        <li>40 săli de clasă;</li>
        <li>9 cabinete şi laboratoare:</li>
        <li class="sublist">
            <ul>
                <li>laborator de fizică dotat cu calculator PENTIUM 4;</li>
                <li>laborator de chimie dotat cu laptop şi video-proiector;</li>
                <li>laborator de biologie dotat cu calculator PENTIUM 4 şi imprimanta multifuncţională;</li>
                <li>5 laboratoare de informatică (dotate cu 110 calculatoare PENTIUM 4, un laptop şi video-proiector), din care două sunt laboratore AEL;</li>
                <li>cabinet metodic de limba şi literatura română dotat cu laptop, videoproiector și imprimantă multifuncţională;</li>
                <li>cabinet de limba engleză dotat cu calculator PENTIUM 4;</li>
                <li>cabinet de geografie dotat cu laptop şi video-proiector;</li>
                <li>cabinet de ştiinţe socio-umane cu laptop şi video-proiector;</li>
                <li>cabinet de istorie cu video-proiector;</li>
            </ul>
        </li>
        <li>amfiteatru cu 100 de locuri;</li>
        <li>bibliotecă cu peste 27.000 de volume dotată cu calculator PENTIUM 3;</li>
        <li>Centru de documentare şi informare (CDI) dotat cu 3 calculatoare conectate la Internet, videoproiector;</li>
        <li>biblioteca engleză cu 3.500 de volume;</li>
        <li>internat cu 200 locuri;</li>
        <li>cantină cu 300 locuri;</li>
        <!-- <li>sală de discotecă (în curând va fi sală multimedia pentru audiţii);</li> -->
        <li>2 săli de sport;</li>
        <li>teren de sport şi stadion;</li>
        <li>Centru englez de resurse şi perfecţionare;</li>
        <li>cabinet de asistenţă psihopedagogică dotat cu laptop şi video-proiector.</li>
    </ul>
</div>
