.landing.error .header{
    background: #e53935;
    height: 100%;
    color: white;
    padding: 10vh 0;
}

.landing.error .header .headerline{
    font-size: 7vh;
    margin-bottom: 4vh;
}
.landing.error .header .headerline small{
    font-size: 4vh;
}
.error .logo{
    height: 30vh;
}
