.slidup{
    width: 100%;
    height: auto;
    background: url(/assets/img/bg1.png), #0F0E14;
}
.slider{
    width: 100%;
    max-width: 1600px;
    min-height: 83vh;
    height: auto;
    margin: auto;
    background: url(../img/cover.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.slidover{
    width: 100%;
    height: 100%;
    min-height: 85vh;
    background: url(../img/bg1.png), rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 40px 3px;
}
.slidover h1{
    font-size: 9vh;
    line-height: 13vh;
    margin: 0;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}
.sec{
    padding: 20px 0;
    text-align: center;
    color: #333;
    min-height: 500px;
    font-family: 'Open Sans', sans-serif;
}
.sec .subtitle{
    margin-top: 20px;
    margin-bottom: 20px;
}
.sec .sectshortdesc{
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0 30px;
    font-family: Raleway;
    text-align: left;
    text-indent: 35px;
    font-size: 16px;
}
.sec2 p{
    text-align: justify;
    text-indent: 6vw;
    font-style: italic;
    font-size: 23px;
    font-weight: lighter;
}
@media(max-width:500px){
    .sec2 p{
        font-size: 19px;
    }
}
/* Anunțurile din prima secțiune */
.news{
    width: 100%;
    text-align: center;
}
/* Top-urile liceului */
.tops{
    text-align: center;
    margin-bottom: 30px;
}
.topsitem{
    position: relative;
    width: 33%;
    display: inline-block;
    vertical-align: middle;
    font-size: 23px;
    text-align: left;
}
.topsitem .circle{
    display: block;
    margin: auto;
    width: 110px;
    height: 110px;
    text-align: center;
    line-height: 110px;
    border-radius: 50%;
    font-size: 30px;
    background: #3C4CA0;
    color: white;
    float: left;
    margin-right: 10px;
    /*transition: 0s all;*/
    transition: .3s all;
}
.topsitem .circle.zoomed{
    transform: scale(1.2);
    opacity: .7;
}
.topsitem span{
    position: absolute;
    top: 15px;
}
@media(max-width: 960px){
    .topsitem{
        width: 45%;
        margin-bottom: 10px;
    }
}
@media(max-width: 630px){
    .topsitem{
        width: 95%;
    }
}
