<!DOCTYPE html>
<html lang="ro">
<head>
    {% include 'part/head.twig' %}
</head>
<body class="landing">
    {% include 'part/header.twig' %}

    <div class="header">
        <div class="headerin">
            <h1>{{title}}</h1>
            <span class="bcnav">
                <a href="{{l('/')}}">CNNG</a>
                <i class="material-icons">&#xE315;</i>
                <a href="#">{{title}}</a>
            </span>
        </div>
    </div>
    <div class="thepage">
        <div class="cin">
            <div class="thecontent card">
                <div class="row">
                    <div class="col l6 m12">
                        <h2 class="tinyh2">Accesare cont</h2>

                        <form action="" method="POST" id="form_login">
                            <div class="input-field">
                                <input id="sin_email" type="email" name="email" autocomplete="off" required>
                                <label for="sin_email">Adresa de Email</label>
                            </div>
                            <div class="input-field">
                                <input id="sin_pass" type="password" name="password" autocomplete="off" required>
                                <label for="sin_pass">Parola</label>
                            </div>
                            <!-- <div class="input-field">
                                <input id="sin_keepin" type="checkbox" name="keepin" value="1">
                                <label for="sin_keepin">Ține-mă conectat</label>
                            </div> -->
                            <div class="input-field">
                                <input type="submit" value="Conectare" class="btn2 right">
                            </div>
                        </form>
                    </div>
                    <div class="col l6 m12">
                        <h2 class="tinyh2">Creare cont nou</h2>

                        <form action="" method="POST" id="form_signup">
                            <div class="input-field">
                                <input id="sup_name" type="text" name="name" required>
                                <label for="sup_name">Nume</label>
                            </div>
                            <div class="input-field">
                                <input id="sup_email" type="email" name="email" required>
                                <label for="sup_email">Adresa de Email</label>
                            </div>
                            <div class="input-field">
                                <input id="sup_pass" type="password" name="pass" required>
                                <label for="sup_pass">Parola</label>
                            </div>
                            <div class="input-field">
                                <input id="sup_cpass" type="password" name="cpass" required>
                                <label for="sup_cpass">Confirmarea Parolei</label>
                            </div>
                            <div class="input-field">
                                <input type="submit" value="Înregistrare" class="btn2 right">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% include 'part/sidebar.twig' %}


        </div>
    </div>

    {% include 'part/footer.twig' %}

    {% include 'part/scripts.twig' %}
</body>
</html>
