<!DOCTYPE html>
<html lang="ro">
<head>
    {%set fulltitle = 'Colegiul Național „Nicu Gane” Fălticeni'%}
    {% include 'part/head.twig' %}
</head>
<body class="landing">
    {% include 'part/header.twig' %}
    <div class="sec sec1">
        <div class="cin">
            <h2 class="subtitle">Pagină în construcție</h2>
            <div class="lines"></div>
            <p>
                Această pagină este în curs de construcție...
            </p>
        </div>
    </div>
    {% include 'part/footer.twig' %}

    {% include 'part/scripts.twig' %}
</body>
</html>
