<!DOCTYPE html>
<html lang="ro">
<head>
    {% include 'part/head.twig' %}
</head>
<body class="landing error">
    <div class="header">
        <img src="{{asset('img/logo.png')}}" alt="" class="logo">
        <h2 class="headerline">Eroare {{error_code}}<br><small>{{error_text}}</small></h2>
        <div class="btncont">
            <a href="{{l('/')}}" class="btn btn-large waves-effect white">Înapoi acasă</a>
        </div>
    </div>
    {% include 'part/scripts.twig' %}
</body>
</html>
